<!DOCTYPE html>
<html>
<head>
  <title>oasis::<%= owner %>/<%= repo %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="<%= host %>/css/main.css">
</head>
<body>
  <header class="page-header">
    <div class="container text-center">
      <h1>
        <a href="<%= host %>">
          <img src="<%= host %>/img/oasis.png" class="logo" width="128" height="128" alt="oasis">
          oasis
        </a>
      </h1>
      <p>Build preview environment rapidly.</p>
    </div>
  </header>
  <main id="contents">
    <div class="container">
      <%- body %>
    </div>
  </main>
  <script src="<%= host %>/js/main.js"></script>
</body>
</html>