<div id="branches" v-cloak>
  <a href="../"><i class="fa fa-chevron-left"></i> Repositories</a>
  <h1>
    {{owner}}/{{repo}}
    <small>
      <a href="https://github.com/{{owner}}/{{repo}}">
        <i class="fa fa-github"></i>
      </a>
    </small>
  </h1>
  <input type="checkbox" v-model="displayAll" id="displayAll"> 
  <label for="displayAll" class="label-inline">Display All</label>
  <ul>
    <li v-for="branch in showBranches"> 
      \{{branch.name}}(\{{branch.commit.sha}})
      <a href="#" class="button button-clear" v-show="branch.docker.exist">
        <i class="fa fa-lg fa-cloud-upload"></i>
      </a>
      {{!--<a :href="branch.docker.url">\{{branch.docker.url}}</a>--}}
      </li>
  </ul>
</div>

<script>
window.__branches__ = {{{ json branches }}}
</script>